@import "../../../scss/base/variables";

.character-equipment {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    background-image: url('../../../img/equipmentMiddle.svg');
    background-repeat: repeat-y;
    background-size: contain;
    
    > * {
        position: relative;
        z-index: 20;
    }

    > .content {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    &::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        padding-top: 7.5%;
        background-color: white;
        background-image: url('../../../img/equipmentTop.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        padding-top: 7.5%;
        background-color: white;
        background-image: url('../../../img/equipmentBottom.svg');
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 10;
    }

    .money-background {
        background-image: url('../../../img/equipmentGold.svg');
    }
}
.character-equipment-wrap {
    display: flex;
}
.character-equipment__stats {
    width: 100px;
    margin-right: 12px;
}
.character-equipment__stats-item {
    display: flex;
    align-items: center;
}
.character-equipment__stats-item-text {
    display: flex;
    width: 20px;
    margin-right: 10px;
    font-size: 12px;
}
.character-equipment__stats-item-input {
    display: block;
    width: 100%;
    padding: 6px 0;
    margin: 4px 0 3px 8px;
    border: none;
    border-bottom: 1px solid $grey;
    background: $grey-light;
    text-align: center;
}
.character-equipment__textarea {
    flex: 1;
    margin-bottom: 8px;

    textarea {
        width: 100%;
        border: none;
        background: $grey-light;
        resize: none;
    }
}