@use "../breakpoints";

* {
    box-sizing: border-box;
}
.app {
    & > .unsupported-size {
        display: none;
        padding: 20px;
        font-size: 20px;
    
        @include breakpoints.unsupported-size {
            display: block;
        }
    }

    & > .container {
        max-width: 1140px;
        width: 100%;
        margin: 0 auto;
        padding: 0 12px;
    
        @include breakpoints.unsupported-size {
            display: none;
        }
    
        @include breakpoints.tablet {
            padding: 0 24px;
        }
    }
}
.container-fluid {
    width: 100%;
    padding: 0 15px;
}
.row {
    margin: 0 -15px;
}
