@import '../../../scss/base/variables';

.character-attack-spellcasting {
    position: relative;
    width: 100%;
    margin-bottom: 8px;
    background-image: url('../../../img/boxLgMiddle.svg');
    background-repeat: repeat-y;
    background-size: contain;
    
    > * {
        position: relative;
        z-index: 20;
    }

    > .content {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    &::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        padding-top: 7.5%;
        background-color: white;
        background-image: url('../../../img/boxLgTop.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        padding-top: 7.5%;
        background-color: white;
        background-image: url('../../../img/boxLgBottom.svg');
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 10;
    }
}
.character-attack-spellcasting__table {
    padding: 20px;

    input {
        display: block;
        width: 100%;
        background: $grey-light;
        padding: 5px;
    }
    th:first-of-type, td {
        width: 30px;
    }
}
.character-attack-spellcasting__table-head {
    display: flex;

    > * {
        flex: 1;
    }
}
.character-attack-spellcasting__table-head-text {
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 5px;
}
.character-attack-spellcasting__table-body-row {
    display: flex;
    margin-bottom: 5px;

    > * {
        flex: 1;
    }
}
.character-attack-spellcasting__table-item {
    margin-bottom: 5px;
    border: none;
    border-bottom: 1px solid $grey;
    &:first-of-type, &:last-of-type {
        width: 110px;
    }
    &:nth-child(2) {
        width: 70px;
        margin: 0 15px 5px;
    }
}
.character-attack-spellcasting__textarea {
    display: block;
    width: 100%;
    resize: none;
    border: none;
    margin-bottom: 8px;
    background: $grey-light;
}
.character-attack-spellcasting__text {
    display: block;
    text-align: center;
}